[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrdict = "*"
wxpython = "*"
wxasync = "*"
marshmallow-dataclass = "*"
pyfunctional = "*"
aiohttp = "*"

[dev-packages]
requests = "*"
python-dotenv = "*"
pytest = "*"
pytest-asyncio = "*"

[scripts]
tests = "python -m unittest"

[requires]
python_version = "3.10"
